#header {
  height: 90px;
  padding: 25px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}
@media (max-width: 1199px) {
  #header .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#speakers-details {
  padding: 60px 0;
}

#footer {
  background: #101522;
  padding: 0 0 25px 0;
  color: #eee;
  font-size: 14px;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
a {
  color: #f82249;
  transition: 0.5s;
}
#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

img {
  vertical-align: middle;
  border-style: none;
}
.pull-left {
  float: left;
}
